body{
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-items: center;
 
}

body::after {
    content: "";
    background: url("images/fingers-149295.png");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.container{

    width: 500px;
    height: 800px;
    background: rgb(142, 155, 117);
    border: 2px solid #333;
    box-shadow: 5px 10px #888888;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

ul li{

    font-size: 20px;
    font-weight: 200;
}

p{

    font-size: 20px;
    margin-bottom: 5px;

}
.game{
    width: 200px;
    height: 30px;
    background-color: antiquewhite;
    color: #000;
    text-decoration: none;

}
.game:hover{
    background: #4CAF50;
    transition: 2s;

}

.p_1{
    text-align: center;
}




